{% extends 'base.html.twig' %}
{% block body %}
<a href={{ path('app_main_torneo', {'ruta': ruta}) }} class="btn btn-secondary">Volver</a>

    {% for key, grupo in grupos %} 
        {{ include("componentes/tabla.html.twig",{
            'grupo': grupo[0], 'posiciones': grupo[1]
        }) }}
    {% endfor %}
</div>
{% endblock %}