{% extends 'base.html.twig' %}

{% block title %}SGT - Inicio{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    <h1>Bienvenido al Sistema de Gestión de Torneo!!</h1>
    {% include "./componentes/fixture.html.twig" %}
    {% include "./componentes/tabla.html.twig" %}
{% endblock %}
