<div class="card">
    <div class="card-header">
        <p>Sede - Día</p>
        <p>Cancha - Descripción</p>
    </div>
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped align-middle text-center" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Rama</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">vs</th>
                    <th scope="col">Equipo</th> 
                    <th scope="col">Zona</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">09:00</th>
                    <td>F35</td>
                    <td>Equipo 1</td>
                    <td>vs</td>
                    <td>Equipo 2</td>
                    <td>A</td>
                </tr>
                <tr>
                    <th scope="row">10:00</th>
                    <td>M40</td>
                    <td>Equipo 3</td>
                    <td>vs</td>
                    <td>Equipo 4</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        Card footer
    </div>
</div>