<div class="modal fade" id="exampleModal" name="exampleModal" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Titulo</h5>
            </div>
            <div class="modal-body">Mensaje</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModalAceptar">ACEPTAR</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>
</div>

<script>

function crearModal(mensajeTitulo, mensajeTexto){
    let myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
    })
    let titulo = myModal._element.querySelector('.modal-title');
    let mensaje = myModal._element.querySelector('.modal-body');
    titulo.innerHTML = mensajeTitulo;
    mensaje.innerHTML = mensajeTexto || "Desea confirmar el cambio?";
    myModal.show()
}

</script>
