<div class="card">
    <div class="card-header">
        <p>Categoría</p>
    </div>
    <div class="card-body p-0 table-responsive">
        <table class="table align-middle text-center" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th class="p-0" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                    <th class="p-0" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                    <th class="p-0 table-active" colspan="3" scope="col">Partidos</th>
                    <th class="p-0" colspan="3" scope="col">Set</th>
                    <th class="p-0 table-active" colspan="3" scope="col">Puntos</th>
                    <th class="p-0" scope="col"></th>
                </tr>
                <tr>
                    <th class="p-0 px-1" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Pos</th>
                    <th class="p-0 px-1" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Equipo</th>
                    <th class="p-0 px-1 table-active" scope="col">Jug</th>
                    <th class="p-0 px-1 table-active" scope="col">Gan</th>
                    <th class="p-0 px-1 table-active" scope="col">Per</th>
                    <th class="p-0 px-1" scope="col">Favor</th>
                    <th class="p-0 px-1" scope="col">Contra</th>
                    <th class="p-0 px-1" scope="col">Dif</th>
                    <th class="p-0 px-1 table-active" scope="col">Fav</th>
                    <th class="p-0 px-1 table-active" scope="col">Con</th>
                    <th class="p-0 px-1 table-active" scope="col">Dif</th>
                    <th class="p-0 px-1" scope="col">Ptos</th>
                </tr>   
            </thead>
            <tbody>
                <tr>
                    <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="row">1</th>
                    <td style="position: -webkit-sticky; position: sticky; left: 0px; background: white;">Equipo 1</td>
                    <td class="table-active">1</td>
                    <td class="table-active">1</td>
                    <td class="table-active">0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>2</td>
                    <td class="table-active">50</td>
                    <td class="table-active">30</td>
                    <td class="table-active">20</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        Card footer
    </div>
</div>