{% extends 'base.html.twig' %}
{% block body %}
<h1>{% block title %}SGT- Gestion Grupos{% endblock %}</h1>
<a href="{{ path('app_torneo') }}" class="btn btn-secondary">Volver</a>
{{ dump(playOff) }}
{{ dump(partidos) }}
{% for grupo in grupos %}

    {{ include("componentes/tabla.html.twig",{
        'grupo': grupo[0], 'posiciones': grupo[1]
    }) }}
{% endfor %}

{% endblock %}